.logo > img {
width: 5rem;   
}
.container{
    margin: 6px;
}
.navItems > ul{
    gap: 15px;
    display: flex;
    list-style: none;
    margin-left: 300px;
    font-weight: bold;
    font-size: large;

}
.logo{
    display: flex;
    border: 1px solid black; 

      
}
.card{
    width: 200px;
    background-color: lightgray;
    border: 2px solid black;
    padding: 2px;
    margin: 2px;

}
.card>img{
    width: 100%;
    border-radius: 2px;
}
